<section class="t-window drag-item">
  <!-- Header -->
  <div class="header">
    <div class="header-title">
      <span class="icon">
        <img src="~/assets/images/programs/computer.png" width="17">
      </span>
      <span class="header-title-content">
        My computer
      </span>
    </div>
    <div class="close-button active">
      <v-icon small color="#FFFFFF" class="close-button-icon">mdi-close</v-icon>
    </div>
  </div>
  <div class="content">
    <slot></slot>
  </div>
</section>
