.clear {
   clear: both
}

input.window-input {
  height: 30px;
}
.window-input {
  border: $window-border;
  width: 100%;
  border-radius: $window-border-radius-sm;
  box-shadow: inset 0 2px 3px #ccc;
}

.window-input:focus {
  outline: none;
  border: 1px solid $window-active;
}

.window-button {
  border: $window-border;
  border-radius: $window-border-radius-sm;
  padding: 3px 10px;
  min-width: 100px;
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

.window-button::hover, .window-button:focus {
  outline: none;
  border: 1px solid $window-active;
}

.window-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
