// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$window-active: #84c2e8;
$window-border: 1px solid #DDD;
$window-border-radius-sm: 3px;
$window-button-margin: 15px;
